.clip-custom-coscu{
    clip-path: polygon(99% 14%, 95% 7%, 52% 1%, 0 0, 0% 100%, 89% 100%, 78% 78%, 70% 64%, 47% 49%, 21% 44%, 37% 40%, 66% 43%, 80% 35%, 100% 31%);

}

.clip-custom-mayichi{
    clip-path: polygon(67% 0, 21% 0, 7% 65%, 20% 80%, 32% 100%, 100% 100%, 97% 82%, 85% 73%, 83% 59%, 90% 50%, 86% 38%, 58% 29%, 72% 24%, 81% 7%);
}

.clip-custom-viruzz{
    clip-path: polygon(32% 0, 21% 13%, 39% 22%, 13% 34%, 0 100%, 100% 100%, 100% 90%, 91% 64%, 86% 45%, 68% 26%, 85% 23%, 88% 17%, 80% 10%, 86% 2%);
}

.clip-custom-fernan {
    clip-path: polygon(62% 0, 0 0, 0 100%, 100% 100%, 100% 94%, 78% 73%, 73% 29%, 74% 18%);
}

.clip-custom-la-rivers{
    clip-path: polygon(84% 10%, 69% 2%, 43% 0, 13% 0, 0 100%, 100% 100%, 100% 88%, 93% 83%, 92% 58%, 96% 44%, 61% 31%, 66% 27%, 86% 25%, 89% 17%);
}

.clip-custom-papigavi{
    clip-path: polygon(34% 0, 100% 0, 100% 100%, 0 100%, 6% 84%, 34% 64%, 24% 40%, 38% 25%);
}

/* Boxers-right */

.clip-custom-german{
}

.clip-custom-amouranth{
    clip-path: polygon(34% 0, 100% 0, 100% 100%, 0 100%, 6% 84%, 34% 64%, 24% 40%, 38% 25%);
}

.clip-custom-shelao{
}

.clip-custom-luzu{
}

.clip-custom-rivers{
}

.clip-custom-ampeter{
}
